h3{
color: white;
}
.skillheading{
    text-align: center;
    padding-top: 1rem;
    padding-bottom:1rem;
    margin: 1.5% 1.5%;
}
.skills{
    width: 100%;
    padding: 6rem 1rem;
    background-color: black;
}

.scard-container{
    max-width: 1040px;
     display: grid; 
    grid-template-columns: repeat(5,1fr);
    grid-gap:30px; 
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
    /* margin-left: 14%; */
    margin: auto;
}
.scard{
    border: 1px solid #fff;
    color: white;
    padding: 1rem;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.card:hover{
    background-color: #141414;
}
.card h3{
    font-size: 1.4rem;
    padding: 1rem;
}
.card p{
    padding: 10px 0;
}
.bar{
    border-bottom: 1px solid #fff;
    width: 10%;
    margin: 1.5rem auto;
    display: block;
}
@media screen and (max-width:768px)
{
    .scard-container{
        max-width: 90%;
        margin: auto; 
        /* display: flex;
        flex-flow: row wrap;  */
        grid-template-columns: 1fr; 
        /* grid-gap:30px; */
    }
}